
<div class="jumbotron">
	<h1>Calendar To Do App</h1>
	<p>This is a simple app that allows you to store task call appointments in a calendar. You will be allow to create, edit and assign these appointments to any user registered.</p>
	<p>
		<%= link_to 'Go to App >>', calendar_actions_path, class: "btn btn-lg btn-primary" %>
	</p>
</div>
