
<div class="jumbotron">
	<h1>Calendar To Do App</h1>
	<p>This is a simple app that allows you to store task call appointments in a calendar. You will be allow to create, edit and assign these appointments to any user registered.</p>
	<p>
		<a class="btn btn-lg btn-primary" href="#" role="button">Go to App &raquo;</a>
	</p>
</div>
